.App {
  text-align: center;
}

.Vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensures the video is behind other content */
}

#button-3{
  background-color: #61dafb;
  font-size: 30px;
  padding-top: 30px;
  margin-left: -170px;
  padding-bottom: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  border: #61dafb;
  position: fixed;
  text-align: center;
  overflow: hidden;
  bottom: 100px;
  color: #34495e;
  text-decoration: none;
  border-radius: 20px;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#button-3:before, #button-3:after{
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: royalblue;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#button-3:after{
  left: 100%;
}

#button-3:hover{
  color: #61dafb;
}

#button-3:hover:before{
  left: 0;
}

#button-3:hover:after{
  left: 50%;
}

.tag{
  color: aliceblue;
  font-size: 70px;
}
.tagwrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 500px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
